@using MenShoe.EF;
@model List<Product>
@{ 
    List<string> image = new List<string>(); ;
}
<div class="adv">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--sp mới-->
                <h1 class="title clearfix"><span>Hot Products</span></h1>
                @*@Html.Partial("~/Views/Home/NewProductPartial.cshtml")*@


                <link href="~/Content/User/Scripts/owl-carousel/owl.carousel.css" rel="stylesheet" />
                <link href="~/Content/User/Scripts/owl-carousel/owl.theme.css" rel="stylesheet" />
                <script src="~/Content/User/Scripts/owl-carousel/owl.carousel.min.js"></script>
                <script src="~/Content/User/app/services/moduleServices.js"></script>
                <script src="~/Content/User/app/controllers/moduleController.js"></script>
                <!--Begin-->
                <div class="adv-content row" ng-controller="moduleController" ng-init="initAdvSlideController('AdvSlides')">
                    <div class="owl-carousel">
                        <ul id="adv-content">
                            <li ng-repeat="item in AdvSlides">
                                <a href="{{item.Link}}"><img ng-src="{{item.Image}}" data-original="{{item.Image}}" alt="{{it.Name}}" class="img-responsive lazy" /></a>
                            </li>
                        </ul>
                        <div class="controls boxprevnext">
                            <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
                            <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var owladv = $(".adv-content ul");
                        owladv.owlCarousel({
                            autoPlay: true,
                            autoPlay: 5000,
                            items: 3,
                            slideSpeed: 1000,
                            pagination: false,
                            itemsDesktop: [1200, 3],
                            itemsDesktopSmall: [980, 3],
                            itemsTablet: [767, 1],
                            itemsMobile: [480, 1]
                        });
                        $(".adv-content .nextlogo").click(function () {
                            owladv.trigger('owl.next');
                        })
                        $(".adv-content .prevlogo").click(function () {
                            owladv.trigger('owl.prev');
                        })
                    });
                </script>
                <!--End-->
                <script type="text/javascript">
                    @foreach(var item in Model){
                        image.Add(item.Image);
                    }
                    window.AdvSlides = [{ "Id": 161, "ShopId": 90, "AdvType": 2, "AdvTypeName": "Chạy ngang", "Name": "Áo thun nữ", "Image": "/@image[0]", "ImageThumbnai": "/@image[0]", "Link": "#", "IsVideo": false, "Index": 1, "Inactive": false, "Timestamp": "AAAAAAAPo10=" }, { "Id": 163, "ShopId": 90, "AdvType": 2, "AdvTypeName": "Chạy ngang", "Name": "Đồng hồ nam", "Image": "/@image[1]", "ImageThumbnai": "/@image[1]", "Link": "#", "IsVideo": false, "Index": 2, "Inactive": false, "Timestamp": "AAAAAAAPo14=" }, { "Id": 162, "ShopId": 90, "AdvType": 2, "AdvTypeName": "Chạy ngang", "Name": "Giày nam", "Image": "/@image[2]", "ImageThumbnai": "/@image[2]", "Link": "#", "IsVideo": false, "Index": 3, "Inactive": false, "Timestamp": "AAAAAAAPo18=" }];
                </script>
            </div>
        </div>
    </div>
</div>