<div class="footer">

    <div class="footer-content clearfix">
        <div class="container">
            <div class="row">
                <div class="footer-box col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>OUR STORES</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/gioi-thieu.html">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="/content/giao-hang-doi-tra.html">
                                Home Delivery
                            </a>
                        </li>
                        <li>
                            <a href="/content/chinh-sach-bao-mat.html">
                                Grand Openings
                            </a>
                        </li>
                        <li>
                            <a href="/lien-he.html">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>CUSTOMER SERVICE</span>
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/content/huong-dan-mua-hang.html">
                                Help
                            </a>
                        </li>
                        <li>
                            <a href="/content/huong-dan-thanh-toan.html">
                                Shipping
                            </a>
                        </li>
                        <li>
                            <a href="/content/tai-khoan-giao-dich.html">
                               Return
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box box-address col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>OUR COMPANY</span>
                        </h3>
                        <div class="box-address-content">
                            <b>MENSHOE LDT,.CO</b>
                            <p><i class="fa fa-map-marker"></i> 377 Hải phòng, P.Chính Gián, Q.Thanh Khê, Tp.Đà Nẵng</p>
                            <p>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@runtime.vn">menshoe@gmail.com</a>
                            </p>
                            <p>
                                <i class="fa fa-phone"></i>
                                Phone: 01662324562
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-box box-social col-md-3 col-sm-12 col-xs-12">
                    <div class="item">
                        <h3>
                            <span>FACEBOOK</span>
                        </h3>
                        <div class="fb-like-box" data-href="https://www.facebook.com/runtime.vn" data-width="289"
                             data-height="190" data-colorscheme="dark" data-show-faces="true" data-header="false"
                             data-stream="false" data-show-border="false">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://www.facebook.com/runtime.vn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a target="_blank"><i class="fa fa-twitter "></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="footer-box box-letter col-md-3 col-sm-12 col-xs-12 hide">
                    <div class="item">
                        <h3>
                            MORE
                        </h3>
                        <div class="letter-title">
                            <span>Email</span><i class="icon-title"></i>
                        </div>
                        <div class="letter-content">
                            <div class="new-paper">
                                <div class="input-box">
                                    <input type="text" name="email" id="txtNewsletter" class="input-text form-control" value="" placeholder="Your Emain Address" />
                                </div>
                                <div class="button text-center">
                                    <a class="btn btn-primary">Bla Bla</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
