
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_UserLayoutDetail.cshtml";
}


<h1>CheckOutSuccess</h1>
<hr />
<div>
    <span>CheckOut Success</span><br />
    <a class="btn btn-warning" href="@Url.Action("Index","Home")">Come back home</a>
</div>