
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_NoticeLayOut.cshtml";
}

<style>
    .empty-cart {
        text-align: center;
        background-color: #fff;
        padding: 0 30px 5px;
        border-radius: 4px;
    }
    p {
        margin: 10px;
    }
</style>


<div class="empty-cart">
    <img src="~/CommonImage/cart-empty.png" alt="Your Shopping Cart is empty" />
    <p>Your Shopping Cart is empty.</p>
    <a href="@Url.Action("Index","Home")" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
</div>
